/*.butt-porte-option-principal{
    color: white;
    width: 20vw;
    height: auto;
    border: dashed 2px;
    text-align: center;
    margin: 2vh;
    border-radius: 10px;
    margin-left: 1vW;
}*/
.butt-porte-option-principal:hover{
    border: solid white;
    background-color: white;
    opacity: 90%;
    color: black;
    cursor: pointer;
}
#option1{
    display:block;
    overflow-y: scroll;
    overflow-x: hidden;
    /*background-image: url(image/service-de-reparation.png);*/
    background-repeat: no-repeat;
}
.butt-porte-option-principal {
    color: white;
    width: 20vw;
    max-width: 300px;
    min-width: 200px;

    border: 2px dashed rgba(255,255,255,0.6);
    border-radius: 10px;

    text-align: center;
    padding: 1rem;
    margin: 1rem;

    box-sizing: border-box;
}
