#option2{
    display: none;
    
}
.header{
    border-bottom: solid gray 1.5 px;
    width: auto;
    height: 11vh;
}
.corps{
    width: 79.vw;
    height: 89vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.affiche-tuto{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 80vw;
    height: 90vh;
    border: none ;
}
.butt-option-reparation-pop{
    color: white;
    width: 20vw;
    max-width: 300px;
    min-width: 200px;
    border: 2px dashed rgba(255,255,255,0.6);
    border-radius: 10px;

    text-align: center;
    padding: 1rem;
    margin: 1rem;

    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    transition: 0.4s;
}
.reparation-sector-electro:hover{
    background-image: url("image/reparation-de-telephones-portable.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;   
    transform: scale(1.05); 
    color: transparent;
}
.reparation-sector-mecano:hover{
    background-image: url(image/entretien.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;   
    transform: scale(1.05); 
    color: transparent;
}
.reparation-sector-plomb:hover{
    background-image: url(image/reparation\ \(1\).png);
    background-size: cover;
    background-position: center;
    cursor: pointer;   
    transform: scale(1.05); 
    color: transparent;
}
.reparation-sector-autre:hover{
    background-image: url(image/plus.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;   
    transform: scale(1.05); 
    color: transparent;
}
.tuto-demander{
    color: white;
    width: 20vw;
    max-width: 300px;
    min-width: 200px;
    height: 30vh;
    border: solid gray 1px;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    transition:  background-image 0.4s ease;
    animation: moi 2S linear alternate;
    box-shadow: 0 0 2px 3px black;
}
@keyframes moi{
    from{
        background-position: center;
        
    }
}
.tuto-demander:hover{
    background-position: center;
    transform: scale(1.05);
    background-size: cover;
}
.overflow-x-hover:hover{
    overflow-x: scroll;
    overscroll-behavior-inline: calc(1);
}
.espace-video-tuto{
    width: 30vw;
    height: auto;
    border: none;

}
.video-tuto{
width: 30vw;
height: 30vh;
background-color: #6d6c73;
border-radius: 10px;
}
